body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    border-radius: 5px;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1px;
}

header img {
    width: 50px; 
    height: 50px;
    margin-right: 10px;
}

nav {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    background-color: #444;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    color: rgb(133, 208, 237);
}

#banner {
    background-image: url('bul.jpg'); 
    background-size: cover;
    background-position: center;
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    position: relative;
}

#explore-box {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

#explore {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    display: inline-block;
    border-radius: 5px;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
}